body{
    margin: 0;
}

.logo-background{
    background-color: rgb(77, 158, 233);
    height: 170px;
    background-image: url(./img/pattern.png);
    position: relative;
}

.logo-text{
    height: 60px;
    position: absolute;
    bottom: 5px;
    left: 0;
}
header{
    line-height: 0;
}
.placeholder{
    color: rgba(100, 100, 100, .7);
}
#owner{
    color: rgb(0, 119, 255);
}
.info{
    font-size: small;
}
.warning{
    background-color: yellow;
}
table{
    width: 100%;
    text-align: left;
    
}
thead{
    background-color: rgb(0, 119, 255);
    color: white;
}
th{
    width: 150px;
}

.sky{
    background-color: rgba(1, 170, 248, 0.4);
}
